{% extends 'base.html' %}
{% block content %}
<h4>직원 추가</h4>
<form method="post" class="card p-3 shadow-sm">
  <div class="row g-3">
    <div class="col-md-6">
      <label class="form-label">이름</label>
      <input name="name" class="form-control" required>
    </div>
    <div class="col-md-6">
      <label class="form-label">전화번호</label>
      <input name="phone" class="form-control">
    </div>
    <div class="col-md-6">
      <label class="form-label">근무타입</label>
      <select name="shift_type" class="form-select">
        <option value="day">주간</option>
        <option value="night">야간</option>
      </select
